@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
  line-height: 1.7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* HERO SLIDER ANIMATION */
@keyframes hero-slide {
  0%   { transform: translateX(0%); }
  20%  { transform: translateX(0%); }

  25%  { transform: translateX(-100vw); }
  45%  { transform: translateX(-100vw); }

  50%  { transform: translateX(-200vw); }
  70%  { transform: translateX(-200vw); }

  75%  { transform: translateX(-300vw); }
  95%  { transform: translateX(-300vw); }

  100% { transform: translateX(-400vw); }
}

.hero-slider {
  animation: hero-slide 30s infinite ease-in-out;
}
.hero-slide-item {
  min-width: 100vw;
  height: 100%;
  object-fit: cover;
}